body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:960px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:130px;
  top:0px;
  width:314px;
  height:634px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:634px;
}
#u2 {
  position:absolute;
  left:2px;
  top:309px;
  width:310px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:151px;
  top:76px;
  width:270px;
  height:480px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:480px;
}
#u4 {
  position:absolute;
  left:2px;
  top:232px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:240px;
  top:523px;
  width:100px;
  height:20px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u6 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:234px;
  top:427px;
  width:100px;
  height:20px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u8 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:646px;
  top:0px;
  width:314px;
  height:634px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:634px;
}
#u11 {
  position:absolute;
  left:2px;
  top:309px;
  width:310px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:667px;
  top:76px;
  width:270px;
  height:480px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:480px;
}
#u13 {
  position:absolute;
  left:2px;
  top:232px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:756px;
  top:523px;
  width:100px;
  height:20px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u15 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:750px;
  top:427px;
  width:100px;
  height:20px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
}
#u17 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:530px;
  top:290px;
  width:100px;
  height:64px;
  font-size:14px;
  text-align:center;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:64px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:14px;
  top:290px;
  width:100px;
  height:64px;
  font-size:14px;
  text-align:center;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:64px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:160px;
  top:379px;
  width:254px;
  height:40px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:40px;
}
#u23 {
  position:absolute;
  left:2px;
  top:12px;
  width:250px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:675px;
  top:379px;
  width:254px;
  height:40px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:40px;
}
#u25 {
  position:absolute;
  left:2px;
  top:12px;
  width:250px;
  visibility:hidden;
  word-wrap:break-word;
}
