body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:444px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:130px;
  top:0px;
  width:314px;
  height:634px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:634px;
}
#u2 {
  position:absolute;
  left:2px;
  top:309px;
  width:310px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:151px;
  top:76px;
  width:270px;
  height:479px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:479px;
}
#u4 {
  position:absolute;
  left:2px;
  top:232px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:151px;
  top:280px;
  width:270px;
  height:30px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:30px;
}
#u6 {
  position:absolute;
  left:2px;
  top:7px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:151px;
  top:321px;
  width:270px;
  height:30px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:30px;
}
#u8 {
  position:absolute;
  left:2px;
  top:7px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:151px;
  top:364px;
  width:270px;
  height:30px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:30px;
}
#u10 {
  position:absolute;
  left:2px;
  top:7px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:151px;
  top:439px;
  width:270px;
  height:30px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:30px;
}
#u12 {
  position:absolute;
  left:2px;
  top:7px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:151px;
  top:480px;
  width:270px;
  height:30px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:30px;
}
#u14 {
  position:absolute;
  left:2px;
  top:7px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:151px;
  top:523px;
  width:270px;
  height:30px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:30px;
}
#u16 {
  position:absolute;
  left:2px;
  top:7px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:381px;
  top:96px;
  width:30px;
  height:30px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u18 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:160px;
  top:100px;
  width:20px;
  height:20px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u20 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
