body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:444px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:130px;
  top:0px;
  width:314px;
  height:634px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:634px;
}
#u2 {
  position:absolute;
  left:2px;
  top:309px;
  width:310px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:151px;
  top:76px;
  width:270px;
  height:479px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:479px;
}
#u4 {
  position:absolute;
  left:2px;
  top:232px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:156px;
  top:96px;
  width:20px;
  height:24px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:24px;
}
#u6 {
  position:absolute;
  left:2px;
  top:4px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:323px;
  top:304px;
  width:90px;
  height:30px;
  overflow:hidden;
}
#u7_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u7_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8 {
  position:absolute;
  left:8px;
  top:4px;
  width:74px;
  height:21px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:21px;
}
#u9 {
  position:absolute;
  left:2px;
  top:2px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u7_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u10 {
  position:absolute;
  left:30px;
  top:5px;
  width:46px;
  height:21px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:21px;
}
#u11 {
  position:absolute;
  left:2px;
  top:2px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:159px;
  top:478px;
  width:254px;
  height:40px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:40px;
}
#u13 {
  position:absolute;
  left:2px;
  top:12px;
  width:250px;
  visibility:hidden;
  word-wrap:break-word;
}
